extends base/_layout
block head
    title О нас
block page
    .blog-main
        .container
            .blog-main__breadcumbs
                .custom-breadcrumbs
                    +breadcrumbs(['Главная'], 'О компании')
            .blog-main__block
                .blog-main__title
                    h2.section-title.section-title--base-margin.section-title--mobile-small О компании
                .blog-main__subtitle Компания "ТВИСТ" это команда специалистов с многолетним опытом работы в сфере стекла и металлоконструкций.
                p.blog-main__text Используем только качественные материалы. Осуществляем работы любой сложности в самых разных типах помещений.
                p.blog-main__text Лучшие идеи, профессионализм и индивидуальный подход к каждому клиенту залог успешной работы. Мы следим за соблюдением всех сроков и быстро решаем задачи, которые могут возникнуть в ходе работы.
                p.blog-main__text "Твои стекла - Твой выбор"
            .blog-main__block
                .blog-main__row
                    .blog-main__block-sub
                        h2.section-title.section-title--base-margin.section-title--mobile-small Контакты
                        .blog-main__row
                            p.blog-main__text г. Москва, ул. Бутлерова д.4
                            p.blog-main__text Время работы с 9 до 19
                        .blog-main__row
                            p.blog-main__text Story-sam@mail.ru
                            p.blog-main__text 8-910-449-78-78
                    .blog-main__block-sub
                        h2.section-title.section-title--base-margin.section-title--mobile-small Доставка по Москве 4500 руб.