extends base/_layout
block head
    title Блог - главная
block page
    .custom-breadcrumbs
        .container
            .custom-breadcrumbs__text lorem ipsum....
    .blog-board
        .container
            .blog-board__inner
                .blog-post-card
                    .blog-post-card__top
                        .blog-post-card__promo
                        .blog-post-card__title Распашные душевые перегородки
                        .blog-post-card__text Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост
                    .blog-post-card__bot
                        .blog-post-card__action
                            a(href='#').btn.btn--primary Подробнее
                .blog-post-card
                    .blog-post-card__top
                        .blog-post-card__promo
                        .blog-post-card__title Распашные душевые перегородки
                        .blog-post-card__text Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост
                    .blog-post-card__bot
                        .blog-post-card__action
                            a(href='#').btn.btn--primary Подробнее
                .blog-post-card
                    .blog-post-card__top
                        .blog-post-card__promo
                        .blog-post-card__title Распашные душевые перегородки
                        .blog-post-card__text Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост
                    .blog-post-card__bot
                        .blog-post-card__action
                            a(href='#').btn.btn--primary Подробнее
                .blog-post-card
                    .blog-post-card__top
                        .blog-post-card__promo
                        .blog-post-card__title Распашные душевые перегородки
                        .blog-post-card__text Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост
                    .blog-post-card__bot
                        .blog-post-card__action
                            a(href='#').btn.btn--primary Подробнее
                .blog-post-card
                    .blog-post-card__top
                        .blog-post-card__promo
                        .blog-post-card__title Распашные душевые перегородки
                        .blog-post-card__text Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост
                    .blog-post-card__bot
                        .blog-post-card__action
                            a(href='#').btn.btn--primary Подробнее
