extends base/_layout
block head
    title Каталог
block page
    .custom-breadcrumbs
        .container
            .blog-main__breadcumbs
                .custom-breadcrumbs
                    +breadcrumbs(['Главная'], 'Душевые перегородки из стекла')
    .catalog-section
        .container
            h2.section-title.section-title--mobile-small.section-title--base-margin Душевые перегородки из стекла
            .catalog-section__inner
                a(href="#").catalog-card
                    .catalog-card__img.u-mock
                    .catalog-card__text Угловые душевые ограждения из стекла - перегородки 90 градусов
                    .catalog-card__text.catalog-card__text--no 9 100₽
                a(href="#").catalog-card
                    .catalog-card__img.u-mock
                    .catalog-card__text Угловые душевые ограждения из стекла - перегородки 90 градусов
                    .catalog-card__text.catalog-card__text--no 9 100₽
                a(href="#").catalog-card
                    .catalog-card__img.u-mock
                    .catalog-card__text Угловые душевые ограждения из стекла - перегородки 90 градусов
                    .catalog-card__text.catalog-card__text--no 9 100₽
                a(href="#").catalog-card
                    .catalog-card__img.u-mock
                    .catalog-card__text Угловые душевые ограждения из стекла - перегородки 90 градусов
                    .catalog-card__text.catalog-card__text--no 9 100₽
                a(href="#").catalog-card
                    .catalog-card__img.u-mock
                    .catalog-card__text Угловые душевые ограждения из стекла - перегородки 90 градусов
                    .catalog-card__text.catalog-card__text--no 9 100₽
                a(href="#").catalog-card
                    .catalog-card__img.u-mock
                    .catalog-card__text Угловые душевые ограждения из стекла - перегородки 90 градусов
                    .catalog-card__text.catalog-card__text--no 9 100₽