extends base/_layout
block head
    title Главная
block page
    .home
        .container
            .home__inner
                h1.home__title Изготовление стеклянных дверей для душа на заказ
                p.home__text Если в вашей ванной комнате происходит ремонт, вы попали по адресу! Компания «Твист» успела зарекомендовать себя одним из крупнейших производителей прочных стеклянных дверей, заслужив лояльность тысяч клиентов.
                .home__actions
                    button.btn.btn--primary(data-open-modal) Получить консультацию
                    button.btn.btn--secondary Вызвать замерщика
    .home-advantages
        .container
            .home-advantages__inner
                .home-advantages__card
                    .home-advantages__icon
                        +setSvg({ name: 'diamond' })
                    h3.home-advantages__title Качественный материал
                .home-advantages__card
                    .home-advantages__icon
                        +setSvg({ name: 'handlers' })
                    h3.home-advantages__title Установка надежной фурнитуры
                .home-advantages__card
                    .home-advantages__icon
                        +setSvg({ name: 'delivery' })
                    h3.home-advantages__title Быстрая доставка
                .home-advantages__card
                    .home-advantages__icon
                        +setSvg({ name: 'guarantee' })
                    h3.home-advantages__title Гарантия обслуживания
    .home-what
        .container
            h2.section-title.section-title--base-margin Какие стекла используются для душевых дверей?
            .home-what__subtitles-row
                .home-what__subtitles
                    p.paragraph Несмотря на кажущуюся легкость и хрупкость, дверные панели для душевых кабин отличаются высокой прочностью и стойкостью к повреждениям. Ведь чаще всего, их изготавливают из
                .home-what__subtitles
                    p.paragraph При этом они могут быть не только прозрачными, а принимать практически любой цвет посредством тонирования матовой пленкой, матирования с помощью химических веществ или пескоструйной обработки.
            .home-what__inner
                .home-what__item
                    .card-text-number
                        .card-text-number__icon
                            span 1
                        .card-text-number__text
                            p.paragraph Каленого стекла толщиной 6-10 м, прошедшего дополнительную обработку высокими температурами для повышения ударопрочности
                .home-what__item
                    .card-text-number
                        .card-text-number__icon
                            span 2
                        .card-text-number__text
                            p.paragraph Триплекса – материала, состоящего из нескольких слоев стекла, соединенных с помощью полимеров методом термической обработки
    .home-why
        .container
            h2.section-title.section-title--base-margin Почему стоит заказать стеклянную дверь для душевой кабины на нашем сайте?
            .home-why__inner
                .home-what__item
                    .card-text-number
                        .card-text-number__icon
                            span 1
                        .card-text-number__text
                            p.paragraph Компания «Твист» - производитель стеклянных дверей для душей, размещенных в специальных нишах, а также полотен для готовых душевых кабин. Поэтому покупая у нас, вы можете рассчитывать на максимально адекватные, доступные цены и прямое гарантийное обслуживание
                .home-what__item
                    .card-text-number
                        .card-text-number__icon
                            span 2
                        .card-text-number__text
                            p.paragraph Мы идем в ногу со временем и обновляем производственную базу в соответствии с последними трендами и тенденциями. Это позволяет выпускать качественную, недорогую продукцию максимально быстро.
                .home-what__item
                    .card-text-number
                        .card-text-number__icon
                            span 3
                        .card-text-number__text
                            p.paragraph Особый упор делается на качество обслуживания. То есть, вы можете рассчитывать на:
                            ul.list
                                li.list__li.paragraph Быстрый выезд мастера для проведения замеров вашей душевой кабины
                                li.list__li.paragraph Помощь с подбором стекла, фурнитуры, проектированием
                                li.list__li.paragraph Оперативное изготовление, с многоуровневым контролем качества     на всех этапах производства
                                li.list__li.paragraph Письменную гарантию на всю продукцию
                                li.list__li.paragraph Бережную доставку, монтаж
                                li.list__li.paragraph Оперативный расчет стоимости
                                li.list__li.paragraph Скидки, бонусы постоянным клиентам
                                li.list__li.paragraph Возможность оплаты любым удобным способом
                .home-what__item
                    .card-text-number
                        .card-text-number__icon
                            span 4
                        .card-text-number__text
                            p.paragraph Нужна дополнительная информация по продукции или сопутствующим услугам? Менеджеры «Твист» ответят на все вопросы в чате на сайте, по телефону, в мессенджерах или офисе компании.
    .home-port(id='port')
        .container
            h2.section-title.section-title--base-margin Наши работы
            .home-port__inner
                .home-port__img.home-port__img--mock
                .home-port__img.home-port__img--mock
                .home-port__img.home-port__img--mock
                .home-port__img.home-port__img--mock-2
                .home-port__img.home-port__img--mock
                .home-port__img.home-port__img--mock
                .home-port__img.home-port__img--mock
                .home-port__img.home-port__img--mock
            .slider-arrow.home-port__arrows
                button.slider-arrow__button.slider-arrow__button-prev.home-port-arrow-prev
                    +setSvg({ name: 'arrow-prev' })
                button.slider-arrow__button.slider-arrow__button-next.home-port-arrow-next
                    +setSvg({ name: 'arrow-next' })
    .home-reviews(id='reviews')
        .container
            h2.section-title.section-title--base-margin Отзывы
            .home-reviews__inner.home-reviews-slider
                .home-reviews__slide
                    +homeReviewCard({
                        name: 'Малышева О. С.',
                        date: '12.01.2022',
                        place: 'Москва, ул. Баженова',
                        text: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. ',
                    })
                .home-reviews__slide
                    +homeReviewCard({
                        name: 'Малышева О. С.',
                        date: '12.01.2022',
                        place: 'Москва, ул. Баженова',
                        text: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. ',
                    })
                .home-reviews__slide
                    +homeReviewCard({
                        name: 'Малышева О. С.',
                        date: '12.01.2022',
                        place: 'Москва, ул. Баженова',
                        text: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. ',
                    })
                .home-reviews__slide
                    +homeReviewCard({
                        name: 'Малышева О. С.',
                        date: '12.01.2022',
                        place: 'Москва, ул. Баженова',
                        text: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. ',
                    })
                .home-reviews__slide
                    +homeReviewCard({
                        name: 'Малышева О. С.',
                        date: '12.01.2022',
                        place: 'Москва, ул. Баженова',
                        text: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. ',
                    })
            .slider-arrow.home-reviews__arrows
                button.slider-arrow__button.slider-arrow__button-prev.home-reviews-arrow-prev
                    +setSvg({name: 'arrow-prev'})
                button.slider-arrow__button.slider-arrow__button-next.home-reviews-arrow-next
                    +setSvg({name: 'arrow-next'})
    include sections/form