extends base/_layout
block head
    title Страница продукта
block page
    .custom-breadcrumbs
        .container
            .blog-main__breadcumbs
                .custom-breadcrumbs
                    +breadcrumbs(['Главная', 'Душевые перегородки из стекла'], 'Распашные душевые перегородки')
    .product-promo
        .container
            .product-promo__inner
                .product-promo__imgs
                    .product-promo__img-main.home-port__img--mock
                .product-promo__inf
                    h3.product-promo__title Раздвижные душевые кабины из стекла
                    .product-promo__price-action
                        .product-promo__price 10 000₽
                        button.product-promo__action.btn.btn--primary Заказать
                    .product-promo__table
                        h4.product-promo__table-heading Характеристики
                        .product-promo__table-row
                            .product-promo__table-row-text.product-promo__table-row-text--first Производитель
                            .product-promo__table-row-line
                            .product-promo__table-row-text.product-promo__table-row-text--last Фантазия Стекла
                        .product-promo__table-row
                            .product-promo__table-row-text.product-promo__table-row-text--first Производитель
                            .product-promo__table-row-line
                            .product-promo__table-row-text.product-promo__table-row-text--last Фантазия Стекла
                        .product-promo__table-row
                            .product-promo__table-row-text.product-promo__table-row-text--first Производитель
                            .product-promo__table-row-line
                            .product-promo__table-row-text.product-promo__table-row-text--last Фантазия Стекла
                        .product-promo__table-row
                            .product-promo__table-row-text.product-promo__table-row-text--first Производитель
                            .product-promo__table-row-line
                            .product-promo__table-row-text.product-promo__table-row-text--last Фантазия Стекла
            .product-promo__imgs-small
                .product-promo__img-small.home-port__img--mock
                .product-promo__img-small.home-port__img--mock
                .product-promo__img-small.home-port__img--mock
                .product-promo__img-small.home-port__img--mock
                .product-promo__img-small.home-port__img--mock
                .product-promo__img-small.home-port__img--mock
                .product-promo__img-small.home-port__img--mock
    .product-tabs
        .container
            .product-tabs__inner
                ul.product-tabs__elem
                    li.product-tabs__elem-item.product-tabs__elem-item--active(data-tab="desc") Описание
                    li.product-tabs__elem-item(data-tab="pec") Особенности
                    li.product-tabs__elem-item(data-tab="advt") Преимущества
                    li.product-tabs__elem-item(data-tab="order") Как заказать

                .product-tabs__body(data-tabs-item="desc" style='display: block')
                    h3.product-tabs__body-title Особенности раздвижных стеклянных душевых
                    p.product-tabs__body-paragraph В последнее время все чаще стали использоваться душевые кабины вместо традиционных ванн. Этот вариант считается более быстрым и функциональным, поэтому для гигиенических процедур предпочитают именно этот вариант.
                    p.product-tabs__body-paragraph Стеклянные душевые кабины, раздвижные или распашные, способны идеально вписаться даже в миниатюрную ванную комнату. В сочетании со стеклянным ограждением, даже простой дизайн помещения будет выглядеть интереснее. За счет того, что душевая конструкция занимает намного меньше места, чем ванна,               это позволяет разместить стиральную или сушильную машину.
                .product-tabs__body(data-tabs-item="order" style='display: none')
                    h3.product-tabs__body-title Как заказать стеклянные душевые кабины
                    p.product-tabs__body-paragraph При покупке душевого бокса из стекла важно правильно выбрать фирму-изготовителя, чтобы товар был качественным. Компания «Твист» ответственно относится к каждому этапу изготовления своих стеклянных изделий, поэтому они отличаются надежностью и долговечностью.
                    p.product-tabs__body-paragraph Оформить заказ очень просто - для этого достаточно оставить заявку по телефону, или на сайте. Затем с вами свяжется наш менеджер, чтобы уточнить информацию для создания предложения. Чтобы создать визуализацию вашего заказа, нам нужны точные замеры, которые выполняются нашим мастером бесплатно. Если клиент одобрит проект и стоимость, наша команда приступает к немедленному выполнению работы.
                .product-tabs__body.product-tabs__body--max(data-tabs-item="advt" style='display: none')
                    h3.product-tabs__body-title Преимущества раздвижных механизмов для кабин
                    .product-tabs__body-grid
                        .card-text-number
                            .card-text-number__icon
                                span 1
                            .card-text-number__text
                                p.paragraph Не занимают дополнительного места в открытом/закрытом состоянии
                        .card-text-number
                            .card-text-number__icon
                                span 2
                            .card-text-number__text
                                p.paragraph Просты в эксплуатации
                        .card-text-number
                            .card-text-number__icon
                                span 3
                            .card-text-number__text
                                p.paragraph Надежны
                        .card-text-number
                            .card-text-number__icon
                                span 4
                            .card-text-number__text
                                p.paragraph Возможен различный дизайн на стеклянных полотнах
                    p.product-tabs__body-paragraph Боксы закрытого типа отличаются богатым функционалом. Новые модели кабин могут быть оборудованы гидромассажем. Эта функция популярна среди людей, которые любят различные оздоровительные процедуры. Массаж может быть не только вертикальным, но и горизонтальным. Он характерен для более дорогих моделей с глубоким поддоном, который может служить вместо ванны.
                .product-tabs__body(data-tabs-item="pec" style='display: none')
                    h3.product-tabs__body-title Особенности раздвижных стеклянных душевых
                    p.product-tabs__body-paragraph В связи с высоким спросом на закрытые душевые кабинки, они бывают нескольких видов. В основном различаются материалом, механизмом открывания двери, типом конструкции и наличием поддона.
                    p.product-tabs__body-paragraph Учитывая тот факт, что конструкция простая, выбор системы открытия очень важен. Каждому варианту свойственны отдельные характеристики. Раздвижной механизм подойдет для кабинок любого размера. Он состоит из двух (или больше) створок, которые нужно сдвинуть в одну сторону. За счет перекрывания панелей освобождается проход.
    .product-port
        .home-port
            .container
                h2.section-title.section-title--base-margin Наши работы
                .home-port__inner
                    .home-port__img.home-port__img--mock
                    .home-port__img.home-port__img--mock
                    .home-port__img.home-port__img--mock
                    .home-port__img.home-port__img--mock
                    .home-port__img.home-port__img--mock
                    .home-port__img.home-port__img--mock
                    .home-port__img.home-port__img--mock
                    .home-port__img.home-port__img--mock
    include sections/form