.footer
    .container
        .footer__inner
            .footer__logo
            .footer__nav
                ul.nav-links
                    +navLinks('Главная')
                    +navLinksDropdown('Каталог')
                    +navLinks('Наши работы')
                    +navLinks('Отзывы')
                    +navLinks('О компании')
                    +navLinks('Контакты')
                    +navLinks('Блог')
            .footer__data
                .footer__data-block
                    a(href='tel: +79104497878').footer__data-row.footer__data-row--link 8-910-449-78-78
                    a(href='mailto: Story-sam@mail.ru').footer__data-row.footer__data-row--link Story-sam@mail.ru
                .footer__data-block
                    .footer__data-row г. Москва, ул. Бутлерова д.4
                    .footer__data-row Время работы с 9 до 19