header.header
    .container
        .header__inner
            img.header__logo(src='images/content/logo/logo-header.svg')
            .header__aside
                .header__nav
                    ul.nav-links
                        +navLinks('Главная', './index.html')
                        +navLinksDropdown('Каталог')
                        +navLinks('Наши работы', 'index.html#port')
                        +navLinks('Отзывы', 'index.html#reviews')
                        +navLinks('О компании', 'about.html')
                        +navLinks('Контакты', '#footer')
                        +navLinks('Блог', 'blog.html')
                .header__burger
                    .burger
                        .burger__line.burger__line--top
                        .burger__line.burger__line--mid
                        .burger__line.burger__line--bot