header.header
    .container
        .header__inner
            .header__logo
            .header__aside
                .header__nav
                    ul.nav-links
                        +navLinks('Главная')
                        +navLinksDropdown('Каталог')
                        +navLinks('Наши работы')
                        +navLinks('Отзывы')
                        +navLinks('Отзывы')
                        +navLinks('О компании')
                        +navLinks('Контакты')
                        +navLinks('Блог')
                .header__burger
                    .burger
                        .burger__line.burger__line--top
                        .burger__line.burger__line--mid
                        .burger__line.burger__line--bot