header.header
    .container
        .header__inner
            .header__logo
            .header__aside
                .header__nav
                    ul.nav-links
                        +navLinks('Главная')
                        +navLinks('Каталог')
                        +navLinks('Наши работы')
                        +navLinks('Отзывы')
                        +navLinks('Отзывы')
                        +navLinks('О компании')
                        +navLinks('Контакты')
                        +navLinks('Блог')