.form-section
    .container
        h2.section-title.section-title--base-margin.u-text-center Остались вопросы?
        .form-section__subtitle.u-text-center Заполните поля ниже и наш менеджер перезвонит Вам в ближайшее время
        form.form-section__inner
            +input-name({})
            +input-tel({})
            +input-submit({})

