.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  cursor: pointer;
  border: none;
  background-color: transparent;
  max-width: 100%;
  position: relative;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: .025em;
  padding: 1.6rem 2.2rem;
  font-weight: 900;
  transition: all $anim ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &--primary {
    background-color: $color-main;
    color: white;

    &:hover {
      box-shadow: 0px 4px 24px rgba(252, 115, 78, 0.43);
    }
  }

  &--secondary {
    background: black;
    color: white;

    &:hover {
      box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.97);
    }
  }
}
