.input-text {
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;

  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.input-submit {
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;

  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}